@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,800;1,900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Pixelify+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.body {
	background-color:black;
	margin:0;
	padding:0;
	overflow-x: hidden;
}


nav li {
   display: inline-block;
   position: relative;
   width: 100%;

}

nav li ul {
   display: none;
   width: 1%;
 
}
nav li:hover > ul {
   display: block;
}
nav a {
	
}



.links{
	display: flex;
	opacity: 1;
	flex-direction: row;
	justify-content: left;
	background-color: black;
	column-gap: 10px;
	width: 100%;
	white-space:nowrap;
	overflow-x:auto;
}

.navbar {
	border-bottom: 2px solid white;
	display: flex;
	flex-direction: row;
	background-color:black;
    animation: fadeInAnimation ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
 
@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
     }
}
}

a.one:visited,a.one:link,a.one:hover{
	margin-top:15px;
}

a.nav:link {
	display: flex;
	wrap: nowrap;
	color:#636363;
	color: black;
	text-decoration: none;
	padding: 4px;
	top: 0px;
	left: 0px;
	padding-top: 30px;
	padding-bottom: 30px;
	right: 0px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 150%;
	justify-content:center;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:200;
}

#tournament-announcement {
	font-family: 'Open Sans', sans-serif;
	font-size: 90%;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	color:white;
}

.loginpromptsquared {
	font-weight:200;
	font-family: 'Nunito Sans', sans-serif;
	color: #636363;
}


a.nav:visited,a.nav:link {
	color: #636363;
	wrap: nowrap;
	text-decoration: none;
	padding: 4px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-left: 10px;
	padding-right: 10px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:200;
	font-size: 16.8px;
}
 
a.nav:hover,a.nav:active {
	display: flex;
	color:white;
	wrap: nowrap;
	text-decoration: none;
	font-size: 16.8px;
	wrap: nowrap;
	padding: 4px;
	padding-left: 10px;
	padding-top: 25px;
	padding-bottom: 25px;
	padding-right: 10px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:200;
}

.wrapper {
	color:white;
	position:absolute;
	display:block;
	margin-top:40px;
	margin-left:40px;
	width:100%;
	overflow-x:auto;
	white-space:nowrap;
}
.wrapper h2{
	margin:0;
	line-height:1;
	font-size:5em;
	color:transparent;
	text-transform:uppercase;
	background-image:linear-gradient(to left, #9a8ab3, #e8e8e8);
	-webkit-background-clip:text;
	animation:animate 5s linear 2, fadeInAnimation ease 5s;
	-webkit-background-size:500%;
	background-size:500%;
	font-family: 'Archivo Black', sans-serif;
	font-weight:400;
}
@keyframes animate{
	0%{
		background-position: 0 100%;
	}
	50%{
		background-position: 100% 0;
	}
	100%{
		background-position: 0 100%;
	}
}

#year {
	margin-left:42px;
	padding-top:105px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:200;
	color: #949494;
	animation:animate 5s linear 2, fadeInAnimation ease 5s;
}

.month {
	background: linear-gradient(to left, black,#9a8ab3 ,black);
	text-align:center;
	width:94%;
	margin-left:auto;
	margin-right:auto;
	padding-top:5px;
	padding-bottom:5px;
	border-radius:20px;
	color:white;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	opacity:70%;
	animation:animate 5s linear 2, fadeInAnimation ease 5s;
	
}

.content{
	animation:animate 5s linear 2, fadeInAnimation ease 4s;
}
.content ul {
	color:white;
	margin-left:80px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 200;
	opacity:70%;
}

a.content{
	color:white;
}

table {
	margin-top:150px;
	margin-left:40px;
	width:90%;
	overflow-y:hidden;
	overflow-x:scroll;
	animation:animate 5s linear 2, fadeInAnimation ease 5s;
	min-width:800px;
}

table th {
	color:#e8e8e8;
	font-family: 'Alfa Slab One', serif;
	text-shadow: 3px 3px 0px #9a8ab3, 3px 3px 0px #9a8ab3;
	font-weight: 800;
	font-size: 60px;
	text-align:left;
	width:110px;
	padding-left:10px;
}

table td.one {
	color:#9a8ab3;
	margin-top:-10px;
	padding-bottom: 10px;
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 400;
	font-style:italic;
}
table td {
	color:#e8e8e8;
	text-align:left;
	font-family: 'Nunito Sans', sans-serif;
	font-weight:200;
}

.flowlink {
	background-color:black;
	position:fixed;
	bottom:4px;
	width:100%;
	text-align:center;
	animation:animate 5s linear 2, fadeInAnimation ease 5s;
}
.flowlink>a{
	font-family: 'Nunito Sans', sans-serif;
	font-weight:200;
	color:white;
}
